In [22]:
from pymongo import MongoClient
import pandas as pd

In [100]:
def get_dataframe(symbol: str, last_n: int):
    try:
        # Connect to MongoDB
        client = MongoClient("mongodb://127.0.0.1:27017/")
        db = client["stockdata"]
        collection_stocks = db["stocks"]
        collection_interest = db["interest"]

        # Aggregation pipeline to get the last n entries for a specific stock
        pipeline = [
            {"$sort": {"_id": -1}},
            {"$limit": last_n},
            {"$unwind": "$bist"},
            {"$match": {"bist.Symbol": symbol}},
            {"$project": {
                "_id": 1,
                "symbol": "$bist.Symbol",
                "volume": "$bist.Volume",
                "open": "$bist.Open",
                "low": "$bist.Low",
                "high": "$bist.High",
                "close": "$bist.Close"
            }}
        ]

        # Execute the aggregation pipeline
        result_stocks = list(collection_stocks.aggregate(pipeline))

        # Create a Pandas DataFrame for stocks
        df_stocks = pd.DataFrame(result_stocks)

        # Sort the DataFrame based on _id
        df_stocks.sort_values("_id", ascending=False, inplace=True)

        # Fetch interest rates from the "interest" collection
        result_interest = list(collection_interest.find({}, {"_id": 1, "Rate": 1}))
        df_interest = pd.DataFrame(result_interest)

        # Merge the dataframes based on the "_id" column
        df_combined = pd.merge(df_stocks, df_interest, left_on="_id", right_on="_id", how="left")

        # Check for duplicate _id values in the merged DataFrame
        duplicate_ids = df_combined[df_combined.duplicated("_id", keep=False)]['_id']
        if not duplicate_ids.empty:
            print(f"Warning: Duplicate _id values found in the merged DataFrame: {duplicate_ids}")

        # Reset index without creating a new index column
        df_combined.reset_index(drop=True, inplace=True)

        return df_combined

    except Exception as e:
        print(f"An error occurred: {e}")

    finally:
        # Close the MongoDB connection
        client.close()

In [101]:
df = get_dataframe('TURSG.IS',50)

Warning: Duplicate _id values found in the merged DataFrame: 1     2024-02-23
2     2024-02-23
35    2024-01-09
36    2024-01-09
45    2023-12-26
46    2023-12-26
Name: _id, dtype: object

In [102]:
df.head(30)

,_id,symbol,volume,open,low,high,close,Rate
0,2024-02-26,TURSG.IS,542672.0,50.650002,49.840000,50.799999,50.299999,45.0
1,2024-02-23,TURSG.IS,5101495.0,51.549999,49.000000,51.250000,50.349998,42.5
2,2024-02-23,TURSG.IS,5101495.0,50.650002,49.000000,51.250000,50.349998,42.5
3,2024-02-22,TURSG.IS,4381130.0,51.549999,50.250000,52.200001,50.549999,42.5
4,2024-02-21,TURSG.IS,6001939.0,54.000000,50.500000,54.000000,51.000000,42.5
5,2024-02-20,TURSG.IS,9171466.0,52.799999,51.200001,54.650002,52.599998,42.5
6,2024-02-19,TURSG.IS,3937069.0,56.000000,54.849998,58.000000,55.000000,42.5
7,2024-02-16,TURSG.IS,3884907.0,53.599998,53.549999,55.400002,55.400002,42.5
8,2024-02-15,TURSG.IS,2620666.0,54.400002,53.299999,55.000000,53.299999,42.5
9,2024-02-14,TURSG.IS,3759794.0,52.650002,51.599998,54.299999,53.400002,42.5
10,2024-02-13,TURSG.IS,4798457.0,51.849998,50.500000,55.950001,52.349998,42.5
11,2024-02-12,TURSG.IS,2167995.0,52.299999,51.150002,52.349998,51.250000,42.5
12,2024-02-09,TURSG.IS,2865500.0,51.549999,50.700001,52.349998,52.000000,42.5
13,2024-02-08,TURSG.IS,6012583.0,50.750000,48.419998,51.650002,51.349998,42.5
14,2024-02-07,TURSG.IS,2387552.0,52.750000,52.250000,53.599998,52.750000,42.5
15,2024-02-06,TURSG.IS,4782831.0,51.000000,50.599998,52.750000,52.750000,42.5
16,2024-02-05,TURSG.IS,6896230.0,47.860001,47.560001,51.200001,51.099998,42.5
17,2024-02-02,TURSG.IS,4117173.0,48.980000,47.340000,48.980000,47.880001,42.5
18,2024-02-01,TURSG.IS,3756445.0,47.959999,47.680000,49.419998,48.480000,42.5
19,2024-01-31,TURSG.IS,3703174.0,47.680000,47.439999,48.480000,47.959999,42.5
20,2024-01-30,TURSG.IS,5489683.0,47.400002,46.959999,47.860001,47.580002,42.5
21,2024-01-29,TURSG.IS,3641492.0,48.099998,46.599998,48.259998,47.040001,42.5
22,2024-01-26,TURSG.IS,5764891.0,48.959999,48.040001,49.380001,48.099998,42.5
23,2024-01-25,TURSG.IS,4039622.0,49.500000,48.660000,49.900002,48.959999,42.5
24,2024-01-24,TURSG.IS,7111718.0,49.220001,48.240002,49.799999,49.439999,42.5
25,2024-01-23,TURSG.IS,6360714.0,47.820000,47.540001,48.900002,48.900002,42.5
26,2024-01-22,TURSG.IS,5229541.0,46.299999,45.700001,48.200001,47.660000,42.5
27,2024-01-19,TURSG.IS,5806898.0,46.439999,46.200001,47.860001,46.380001,42.5
28,2024-01-18,TURSG.IS,8077571.0,45.919998,45.240002,47.180000,46.700001,42.5
29,2024-01-17,TURSG.IS,6448276.0,45.279999,44.299999,46.400002,45.279999,42.5